<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.sandboxpowered.silica">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{[%d{HH:mm:ss}] %notEmpty{[%marker] }(%c{1}) [%t/%level{WARN=Warning, DEBUG=Debug, ERROR=Error, TRACE=Trace, INFO=Info}]}: %msg%n" />
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] %notEmpty{[%marker] }(%c{1}) [%t/%level{WARN=Warning, DEBUG=Debug, ERROR=Error, TRACE=Trace, INFO=Info}]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="io.netty" level="INFO"/>
    </Loggers>
</Configuration>